.odd {
    background-color: #F89ACE;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#numtwo {
    color: rgb(68, 111, 251);
    font-size: 36px;
}
.special {
    font-size: 24px;
}
#numfour {
    background-color: hsl(165, 94.3%, 51.6%);
    font-size: 24px;
    font-weight: bold;
}